<!DOCTYPE html>
<html ng-app="demolaypb">
<head>
<meta charset="UTF-8">
<meta http-equiv="Access-Control-Allow-Origin" content="*">
<script type="text/javascript" src="scripts/angular.js"></script> 
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script type="text/javascript" src="scripts/ajax.js"></script>
<script type="text/javascript" src="scripts/home2.js"></script>
<script type="text/javascript" src="scripts/teste.json"></script>
<link rel="stylesheet" type="text/css" href="estilos/global.css" />
<link rel="stylesheet" type="text/css" href="estilos/home.css" />
</head>
<body ng-controller="home">
    	<!-- Inicio do codigo de noticias !-->
		<div> 
		<div id="outer-wrap">
    	<div id="inner-wrap"> 
   
			<!-- Assim que terminar puxar noticias do site (online) -->
			<div ng-repeat="x in noticias" class="caixa">
				<hr />
				<a href='{{x.link}}' target="_blank">
			 	<div class ="image" ng-style="{'background-image': 'url({{x.img}})'}"></div>
				</a>
				<hr />
				<h6>{{ x.nome }}</h6> 
				<p>{{evento.informacao}}</p>
			</div>
		</div>
		</div>
		</div>
		<!-- Fim do codigo de noticias !-->

		<div class="content">

			<div class="painel">
			<div ng-repeat="conteudo in conteudos">
				<h1> {{conteudo.titulo}} </h1>
				<hr /><p ng-repeat="paragrafo in conteudo.paragrafos"> {{paragrafo}} </p><hr />
			</div>	
			</div>
			<a class="duvida" href="mailto:gse@demolaypb.com.br">Envie sua dúvida!</a>
    	</div>    
</body>
</html>